.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0D47A1;
    color: white;
    font-family: serif;
}

.content {
    display: flex;
    flex: 1;
    gap: 20px;
}

.map {
    flex: 2;
    position: relative;
}

.sidePanel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.iphone {
    height: calc(100vh - 56px);
}

.pubGolfButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.iphone .content {
    flex-direction: column;
    overflow: auto;
}

.iphone .map {
    width: 100%;
    height: 50vh;
}

.iphone .sidePanel {
    margin-top: 10px;
    width: 100%;
    height: 200vh; /* Make the side panel longer */
}