.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItemContent {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.price {
  margin-left: auto;
  margin-right: 16px;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}